.course-goals h2 {
    text-align: center;
}

.goal-list {
    list-style-type: none;
    margin: 2rem;
    padding: 0;
}

.goal-list li {
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
}